<%= form_with(model: folder, local: true) do |form| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name, {:class => 'form-control'} %>
  </div>
  
  <input type="hidden" id="folder_parent_id" name="folder[parent_id]"  value="<%= params[:id] %>" />

  <%= form.submit 'Guardar', :class => 'btn btn-primary' %>

<% end %>
